<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input URI</title>
</head>

<center>
    <form method="post">
        <h2>Music Recommendation System</h2>
        
        <label for="Models">Model:</label>
            <select name="Models" id="Models">
                <option value="K-Nearest Neighbors">K-Nearest Neighbors</option>
                <option value="K-Means Clustering">K-Means Clustering</option>
                <option value="K-NN With FAR">K-NN With FAR</option>
            </select>
        
            <br>
    
        <label for="URI">Enter URL/URI:</label>
        <input type="URI" id="URI" name="URI" required> <br><br>

    
        <input type="submit" value="Submit">
    </form>

    {% if URI_exists == False %}
        <div class="cur_input" role="cur_input">
            <h3>No Song Input Yet...</h3>
        </div>
    {% else %}
        <div class="cur_input" role="cur_input">
            <img src="{{Cur_Cover_Art}}" alt="Cover Art" width="100" height="100"> 
            <h3 style="font-size: 10px">Track Name: {{Cur_Track}}</h3>
            <p style="font-size: 10px">Album Name:  {{Cur_Album}}</p>
            <p style="font-size: 10px">Artist Name:  {{Cur_Artist}}</p>
            <p style="font-size: 10px">
                {% if Cur_Audio_Preview %}
                        Audio Preview:  <a href="{{Cur_Audio_Preview}}">Audio Preview</a>
                    {% else %}
                        No audio preview available
                    {% endif %}
                
            </p>
        </div>
        {% for i, song_info in rec_songs.items() %}
        <hr>
            <div class="cur_input" role="cur_input">
                <img src="{{song_info['cover art']}}" alt="Cover Art" width="100" height="100"> 
                <h3 style="font-size: 10px">Track Name: {{ song_info['song'] }}</h3>
                <p style="font-size: 10px">Album Name:  {{ song_info['album'] }}</p>
                <p style="font-size: 10px">Artist Name:  {{ song_info['artists'] }}</p>
                <p style="font-size: 10px">
                    {% if song_info['audio preview'] %}
                        Audio Preview:  <a href="{{ song_info['audio preview'] }}">Audio Preview</a>
                    {% else %}
                        No audio preview available
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    {% endif %}
</center>

