<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login Form</title>

    <script>
        // Use JavaScript to set the selected option based on the value from Flask
        document.addEventListener('DOMContentLoaded', function () {
            var selectedMethod = "{{ selected_method }}";
            if (selectedMethod) {
                document.getElementById('Models').value = selectedMethod;
            }
        });
    </script>
</head>

<center>
    <form method="post">
        <h2>Music Recommendation System</h2>
    
        <label for="artist">Enter artist name:</label>
        <input type="artist" id="artist" name="artist" required> <br><br>
    
        <label for="song">Enter song name:</label>
        <input type="song" id="song" name="song" required> <br><br>

        {% if song_exists == False %}
            <div class="alert" role="alert">
                {{ alert_user }}
            </div>
        {% endif %}
    
        <input type="submit" value="Submit">
    </form>

    {% if song_exists == False %}
        <div class="cur_input" role="cur_input">
            <h3>No Song Input Yet...</h3>
        </div>
    {% else %}
        <div class="cur_input" role="cur_input">
            <img src="{{Cur_Cover_Art}}" alt="Cover Art">
            <h3>Track Name: {{Cur_Track}}</h3>
            <p>Album Name:  {{Cur_Album}}</p>
            <p>Artist Name:  {{Cur_Artist}}</p>
            <p>
                Audio Preview:  <a href="{{Cur_Audio_Preview}}">{{Cur_Audio_Preview}}</a>
            </p>
        </div>
    {% endif %}
</center>